{
    ApplicationDescription = "Demonstration of GNUstep QuartzCore";
    ApplicationName = GSQuartzCoreDemo;
    ApplicationRelease = 1.0;
    Authors = (
	"Ivan Vucica <ivan@vucica.net>"
    );
    Copyright = "Copyright (C) 2012 Free Software Foundation";
    CopyrightDescription = "Released under GNU Lesser General Public License v2.1 or later";
    FullVersionID = 1.0;
    NSExecutable = GSQuartzCoreDemo;
    NSPrincipalClass = NSApplication;
    NSRole = Application;
    URL = "http://www.gnustep.org/";
}
